body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #18055e;
    text-align: center;
}

.header-content {
    text-align: center;
    padding: 2rem;
    color: #fff;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

header .btn:hover {
    background-color: #555;
}

#projects {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(3, 3, 10, 0.8); /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-item {
    background-color: #216ad8;
    border: 2px solid #030309;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.project-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.project-item p {
    font-size: 1rem;
}

.project-item a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fffdd0;
    text-decoration: none;
    border-radius: 5px;
}

.project-item a:hover {
    background-color: #555;
}
